$blue-bg: #0b0d39;
$grey-bg: #f5f9fc;
$menu-bg: #9697aa;
$sub-head: #5f617d;
$light-text: #ffffff;
$dark-text: #1d2d49;
$hint-text: #707070;
$success-bg: #0f8af9;
$success-col: #eefeff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: $grey-bg no-repeat;
    font-family: "Segoe UI", sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    // word-wrap: normal;
}
img {
    width: 30px;
    height: 30px;
}
// NAVBAR
.nav {
    position: relative;
    width: 100%;
    padding: 10px 25px;
    background: $blue-bg no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    .menu-toggler {
        font-size: 1.3rem;
        margin-left: 15px;
        border: none;
        color: $light-text;
        background: none;
        cursor: pointer;
    }

    .branding {
        .brand-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                width: 35px;
                height: 35px;
                border-radius: 8px;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
            }

            .brand-title {
                margin-left: 10px;
                font-weight: 300px;
                color: $light-text;
            }
        }
    }
    .help-nav-content {
        width: 50%;
        margin: 0 10px;

        .help-links {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            a {
                color: $light-text;
            }
        }
    }

    .extra-view {
        position: relative;
        margin-right: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .app-launcher {
            margin: 0 30px;
            width: 20px;
            height: 20px;
        }
        .nav-search-btn{
            margin-left: 15px;
            padding: 5px;
            background: transparent;
            border-radius: 20px;
            border: 1px solid $light-text;
            outline: none;
            color: $light-text;
            cursor: pointer;
        }
        .search-area {
            position: absolute;
            left: -70%;
            transform: translateX(-50%);
            padding: 5px 10px;
            display: flex;
            align-items: center;
            float: left;
            border-radius: 50px;
            background: $light-text;
            
            i {
                color: $success-bg;
            }
            .nav-search {
                margin-left: 8px;
                border: none;
                outline: none;
                color: $success-bg;
            }
        }
    }
}
// SUB NAVBAR
.sub-nav-container {
    position: relative;
    width: 100%;

    .sub-nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: $sub-head;

        li {
            padding: 10px 0;

            a {
                color: $light-text;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}
// Breadcrumb
.bread-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px 0;

    .breadcrumb {
        padding: 10px 16px;
        list-style: none;

        li {
            display: inline;
            font-size: 14px;

            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #0275d8;
                }
            }
        }
        li + li:before {
            padding: 8px;
            color: #000;
            content: ">\003e";
        }
    }

    .search-form {
        position: relative;
        padding: 5px 10px;
        background: $success-bg;
        color: $light-text;
        border-radius: 30px;
        cursor: pointer;

        .search-btn {
            padding: 2px 5px;
            background: none;
            border: none;
            outline: none;
            color: $light-text;
            cursor: pointer;
        }
        .search-input {
            margin-left: 2px;
            color: $light-text;
            background: none;
            outline: none;
            border: none;
            font-size: 16px;

            &::placeholder {
                color: $light-text;
            }
        }
    }
}
.section-container {
    position: relative;
    width: 65%;
    margin: 10px 15px;
    padding: 15px 25px;
    text-align: left;
    float: left;

    &.right {
        width: 90%;
        float: left;

        .answer-btn {
            float: right;
        }
    }

    .section-title {
        color: $dark-text;
    }

    .code-content {
        position: relative;
        width: 100%;
        margin: 20px 0 10px;

        figcaption {
            color: $hint-text;
            margin-left: 30px;
        }
        pre {
            width: 100%;
            display: flex;
            float: left;
            align-items: center;
            margin-top: 20px;
        }
        code {
            word-break: break-all;
            line-height: 1;
            letter-spacing: 1.2px;
            white-space: pre-line;
            background: $blue-bg;
            color: $light-text;
            font-size: 14px;
            padding: 6px;

            &.number {
                padding-left: 40px;
                margin-right: 5px;
            }
            &.answer {
                width: 100%;
            }
        }
        .answer-btn {
            position: relative;
            margin: 30px 0 5px;
            padding: 8px 15px;
            border-radius: 10px;
            outline: none;
            border: none;
            font-weight: 400;
            // text-align: left;
            background: $success-bg;
            color: $light-text;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover {
                box-shadow: 0 1px 5px 2px #04899883;
            }
        }
    }
}
.question-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 14px;

    .new-question {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}
.result-container {
    position: relative;
    width: 90%;
    margin: 10px 15px;
    padding: 15px 25px;
}
.related-answer {
    margin: 10px 0 0 15px;
    padding: 2px 5px;
    border: none;
    outline: none;
    color: $hint-text;
    background-color: $light-text;
    cursor: pointer;
}
.question {
    margin: 8px 0;
    display: block;
    color: $dark-text;
}
// Main Container
.main-container {
    position: relative;
    margin-left: 18%;
    width: 80%;
    height: 100%;
    padding: 10px 30px;
}
.search-result {
    position: relative;
    margin: 5px;
    padding: 5px 10px;
}
// LEFT ASIDE
.menu-container {
    position: relative;
    float: left;
    width: 18%;
    height: 100%;
    background: $menu-bg;
    padding: 10px 0px;
    margin-right: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s linear;

    .login-content {
        position: relative;
        margin: 30px 0;
        text-align: center;

        .avatar-stats {
            position: relative;

            .online-stats {
                position: absolute;
                top: 15%;
                right: 15%;
                transform: translate(-50%, -50%);
                display: block;
                background: red;
                width: 12px;
                height: 12px;
                border-radius: 50px;
            }
            .login-avatar {
                width: 4.3rem;
                height: 4.3rem;
                object-fit: contain;
                object-position: center;
                border-radius: 50px;
                overflow: hidden;
                border: 1px solid #ffffff;
            }
        }

        .user-name {
            margin: 8px 0;
            color: $light-text;
        }
        .login-btn {
            display: block;
            margin-top: 10px;
            padding: 5px 30px;
            background: $blue-bg;
            color: $light-text;
            border-radius: 30px;
        }
    }
    .divider {
        width: 100%;
    }
    .sub-menu {
        margin: 10px 0;

        a {
            display: block;
            margin: 15px 0;
            color: $light-text;

            i {
                margin-right: 10px;
            }
        }
    }
}

// Right Aside
.related-container {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 10px;
    padding-right: 25px;
    text-align: right;

    .aside-title {
        color: $dark-text;
    }

    .related-questions {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
// FOOTER
footer {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 2px 0;

    .footer-content {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px 60px;

        .footer-title {
            color: $dark-text;
            margin-bottom: 20px;
        }
        .nav-option {
            .nav-item {
                display: block;
                width: 100%;
                margin: 15px 0;
                // text-align: right;

                a {
                    width: 100%;
                    color: $hint-text;

                    i {
                        margin-right: 15px;
                    }
                }
            }
        }
        .post-option {
            .recent-post {
                display: flex;
                flex-direction: column;
            }
        }
        .lang-option {
            .form-control {
                width: 100%;
                background: $success-bg;
                color: $success-col;
                padding: 5px;
            }
        }
    }
    .footer-copyright {
        position: relative;
        width: 100%;
        background-color: $blue-bg;
        color: $light-text;
        font-weight: 600;
        text-align: center;
        padding: 20px 0;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .nav {
        position: relative;
        padding: 15px 10px;
        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 10%;
            left: 0;
            top: 100%;
            background: $blue-bg;
            // padding: 10px 0;
        }
        .search-area {
            left: -60%;
        }

        .brand-title {
            display: none;
        }

        .app-content,
        .user-info {
            display: none;
        }
    }
    .sub-nav-container {
        display: none;
    }
    .section-container {
        width: 100%;
        margin: 5px 10px;
        padding: 10px 20px;

        .code-content {
            width: 90%;
        }
    }
    .question-content{
        flex-direction: column;
    }
    .related-container {
        float: left;
        width: 100%;
        text-align: left;
        margin: 10px 20px;
        padding: 5px 10px;

        .related-questions {
            align-items: flex-start;
        }
    }


    footer{
        width: 100%;

        .footer-content{
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px 30px;
        }
        .footer-copyright{
            font-weight: 400;
            padding: 15px 20px;
        }
    }
}
